---
---
<!DOCTYPE html>
<html>
  <head>
    <title>Fern Leaf Counselling | Individual therapy in Burnaby, BC | About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

  </head>
  <body style="background-color: #024554; font-family: 'Montserrat', sans-serif;">

    <!-- Main column container-->
    <div class="mx-auto max-w-7xl">

      <!-- Menu -->
      {% include menu.html %}

      <!-- About me-->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">About me</h2>
        <img class="md:float-right md:ml-5 mb-5 rounded-xl" src="images/AllisonNelsonHeadshot1.jpeg" alt="Photo of Allison Nelson at Fern Leaf Counselling in Burnaby" style="width: 200px;" loading="lazy" />
        <p class="mb-5">
          Hi, I'm Allison. I'm a counsellor with a background in behaviour support, training in Acceptance and Commitment Therapy (ACT), and a deep respect for the messy, imperfect nature of being human.
        </p>
        <p class="mb-5">
          Before shifting into counselling, I spent over a decade supporting neurodivergent kids, teens, and their families. That work gave me a deep appreciation for how systems shape us, and how we can push back. It also taught me to stay flexible, meet people where they're at, and focus on what actually helps.
        </p>
        <p class="mb-5">
          <strong>Credentials</strong>: I am a Board Certified Behaviour Analyst (BCBA, #1-13-13780) and in the certification process to become a Registered Clinical Counsellor (RCC) and a Certified Canadian Counsellor (CCC) in British Columbia.
        </p>
        <p class="mb-5">
          <strong>Education</strong>: Master of Counselling Psychology (Yorkville University, 2025); Master of Science (St. Cloud State University, 2012); Bachelor of Arts in Psychology (University of Manitoba, 2005).
        </p>
      </div>

      <!-- My approach -->

      <div class="p-5 md:p-10 text-white" style="background-color: #6A8C69">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">My approach</h2>
        <p class="mb-5">
          My approach is grounded in Acceptance and Commitment Therapy (ACT), which emphasizes flexibility, values-based living, and making room for the full range of human experience.
        </p>
        <p class="mb-5">
          In our sessions, you can expect a relational, collaborative space where we make room for both the hard stuff and the possibility of change. I won't pathologize you. I won't push strategies that don't feel right. Instead, we'll stay curious, follow what works, and build something that feels doable and true to who you are.
        </p>
      </div>

      <!-- Office location -->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Office location</h2>
        <div class="md:flex gap-10">
          <div class="mb-5">
            My office location is #501 - 3292 Production Way, in Burnaby. The office is next to the Production Way-University skytrain station. There is a pay parking lot attached to the building (available until 6pm) and nearby metered street parking spots. There are some free spots available on the street near Commerce Court and Thunderbird Cres, but they are often full.
          </div>
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d651.0479650013365!2d-122.91878327142354!3d49.25380929820434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486782b8fe4a167%3A0xa44065c467a5af91!2s3292%20Production%20Way%2C%20Burnaby%2C%20BC%20V5A%204W4!5e0!3m2!1sen!2sca!4v1765251597022!5m2!1sen!2sca" width="330" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>

      <!-- Footer -->

      {% include footer.html %}

    </div>

  </body>
</html>
