---
---
<head>
    <title>Fern Leaf Counselling - Parents &amp; guardians</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

</head>
  <body style="background-color: #024554; font-family: 'Montserrat', sans-serif;">


    <!-- Main column container-->
    <div class="mx-auto max-w-7xl">

      <!-- Menu -->
      {% include menu.html %}

      <!-- Parents & Guardians-->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-8 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Information for parents &amp; guardians</h2>
        <p class="mb-5 text-center text-lg">
          Parents/guardians are an important part of the process!
          I'll check in with you regularly—sometimes briefly at the end of sessions, and sometimes through scheduled meetings.
          If you would like to meet with me, please let me know.
        </p>
        <p class="mb-5 text-center text-lg">
          That said, therapy is a private space. What your young person shares in session is generally private, except in situations where there are safety concerns.
          Prior to meetings with their adults, I will speak with them about what they are comfortable sharing.
        </p>
      </div>

      <!-- Footer -->

      {% include footer.html %}

    </div>

  </body>
</html>
