---
---
<head>
    <title>Fern Leaf Counselling - Services</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

</head>
  <body style="background-color: #024554; font-family: 'Montserrat', sans-serif;">


    <!-- Main column container-->
    <div class="mx-auto max-w-7xl">

      <!-- Menu -->
      {% include menu.html %}

      <!-- Services-->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Services</h2>
        <p class="mb-5 text-center text-lg">
          I offer individual counselling for pre-teens, adolescents, and adults.
        </p>
        <p class="mb-5 text-center text-lg">
          Sessions are 50-mins in length
        </p>
        <p class="mb-5 text-center text-lg">
          In-person sessions are available in Burnaby at 3292 Production Way.<br />
          Virtual sessions are available via a secure online platform.
        </p>
      </div>

      <!-- Sessions -->

      <div class="p-5 md:p-10 flex gap-10 text-white" style="background-color: #6A8C69">
        <div>
          <h2 class="text-3xl md:text-2xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Individual sessions for children and teens</h2>
          <p class="text-center">
            Young people deserve support that honours who they are. I offer a down-to-earth, affirming space where kids and teens can explore their thoughts and feelings, develop coping tools, and build confidence, without pressure to be anyone but themselves.
          </p>
        </div>
        <div>
          <h2 class="text-3xl md:text-2xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Individual sessions for adults</h2>
          <p class="text-center">
            Whether you're feeling stuck, overwhelmed, or just ready for something to shift, counselling can offer space to slow down and explore what's going on. I'll support you in sorting through the noise, tuning into what matters, and finding ways forward that feel right for you.
          </p>
        </div>
      </div>

      <!-- Fees -->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Fees</h2>
        <p class="mb-4">
          Individual therapy (50 min): $100
        </p>
        <p class="mb-4">
          School visits, consultations, or observations: $150/hr + travel time
        </p>
        <p class="mb-4">
          Note: My current fees reflect my recent graduation and certification status. When I am certified (CCC/RCC) my rates will align with industry standards. Fees are subject to periodic review and may change. You will be notified of any fee changes at least 30 days in advance.
        </p>
      </div>

      <!-- Sliding scale -->

      <div class="p-5 md:p-10 text-white" style="background-color: #53736A">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Sliding scale</h2>
        <p class="mb-4">
          I aim to make counselling accessible to all. A limited number of sliding-scale spots are available for clients experiencing financial hardship. Availability is limited; if spots are full, referrals may be provided.
        </p>
      </div>

      <!-- Payment and insurance -->

      <div class="p-5 md:p-10 bg-white">
        <h2 class="text-3xl md:text-5xl mb-5 text-center" style="font-family: 'Ysabeau Office', sans-serif;">Payment &amp; insurance</h2>
        <p class="mb-4">
          Some extended health benefit plans cover sessions with an RCC or CCC. Clients are responsible for verifying coverage with their insurance provider for mental health benefits and submitting receipts for reimbursement.
        </p>
        <p class="mb-4">
          Direct billing to insurance companies is not available.
        </p>
        <p class="mb-4">
        I accept Autism Funding for eligible clients; please discuss arrangements in advance.
        </p>
      </div>

      <!-- Footer -->

      {% include footer.html %}

    </div>

  </body>
</html>
