<section class="p-5 text-white flex flex-col md:flex-row gap-5">
  <div class="w-full md:w-1/2">
    <a class="underline" href="mailto:anelson.counselling@gmail.com">anelson.counselling@gmail.com</a><br /><br />
    &copy; Allison Nelson Counselling, 2025
  </div>

  <div class="w-full md:w-1/2 md:text-right" style="font-family: Arial, Helvetica, sans-serif">
    I live on the unceded and ancestral territories of the Tsleil-Waututh (səl̓ilw̓ətaʔɬ), Kwikwetlem (kʷikʷəƛ̓əm), Squamish (Sḵwx̱wú7mesh Úxwumixw), and Musqueam (xʷməθkʷəy̓əm) Coast Salish peoples.
  </div>
</section>